VITE_SUPABASE_PROJECT_ID="bdnhqqjziifoyfyiqwrq"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJkbmhxcWp6aWlmb3lmeWlxd3JxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MTc2ODksImV4cCI6MjA5MzM5MzY4OX0.utyJQIEn_2KB7sBn72wwi3ABEI7SUz7-nzd9ZNdKRb8"
VITE_SUPABASE_URL="https://bdnhqqjziifoyfyiqwrq.supabase.co"
